body{
		background-image: url("../img/scanlines_background.jpg");
		}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #48DE41;
    font-size: 55px;
    opacity: 0.5;
    }
h2 {
    font-family: 'Press Start 2P', cursive;
    color: #48DE41;
    font-size: 40px;
    opacity: 0.5;
    }

div {
  text-align: center;

}
header {
    padding-right: 50px;
    padding-left: 50px;
}

img, span {
  display: inline-block;
  vertical-align: middle;
}

div:after {
  content: '';
  display: inline-block;
  width: 100%;
}